@model IEnumerable<MyHabits.Models.Habit>

@{
    ViewData["Title"] = "Трекер твоих привычек";
}

<div class="container">
    <h1 class="text-center">My habits app - трекер твоих полезных привычек</h1>

    <table class="table center">

        <tbody>
            <tr>
                <th>Привычка</th>
                @for (int i = 0; i < ViewBag.dates.Count; i++)
                {
                    <th>
                                @ViewBag.dates[i].DayOfWeek
                                @ViewBag.dates[i].Date.ToShortDateString()
                    </th>
                }
                <th>Прогресс</th>
            </tr>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    @for(int i = 0; i < ViewBag.dates.Count; i++)
                    {
                        <td>
                            @if (item.RegisteredActions != null && item.RegisteredActions.Find(d => d.Date == ViewBag.dates[i]) != null)
                            {
                                <p>✅</p>
                            }
                        </td>
                    }
                    <td>@item.RegisteredActions.Count() из 30 дней</td>
                </tr>
            }
        </tbody>
    </table>
    <input type="button" class="button" onclick="location.href='@Url.Action("Create", "Home")'" value="➕">
    <input type="button" class="button" onclick="location.href='@Url.Action("Register", "Home")'" value="Зафиксировать исполнение">
</div>
