@model IEnumerable<MyHabits.Models.Habit>

@{
    ViewData["Title"] = "Трекер твоих привычек";
}

<div class="main_window">
    <h1 class="text-center">My habits app - трекер твоих полезных привычек</h1>

    <table class="table center">

        <tbody>
            <tr>
                <th>Привычка</th>
                @for (int i = 0; i < ViewBag.dates.Count; i++)
                {
                    <th>
                                @ViewBag.dates[i].DayOfWeek
                                @ViewBag.dates[i].Date.ToShortDateString()
                    </th>
                }
            </tr>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item._id">@Html.DisplayFor(modelItem => item._name)</a>
                    </td>
                    @*Сделать здесь вывод чекбосков под сыволнение привычек*@
                </tr>
            }
        </tbody>
    </table>
    <input class="pos_btn" type="button" onclick="location.href='@Url.Action("Create", "Home")'"  style="float:right" asp-action="Create" value="Добавить привычку">
</div>
